.btn-ghost {
  color: #0E0000;
  border: 1px solid #4A4A4A;
  margin-top: 8px;
  padding: 4px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.btn-ghost:hover {
  opacity: 1;
  color: #4A4A4A;
  text-decoration: none;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 8px 20px 0 rgba(0,0,0,0.19);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #65DEF1;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #32D3EC;
  color: white;
}