
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card {
  cursor: pointer;
  width: 400px;
  height: 200px;
}

.front,.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}

.front img {
  height: 100%;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}

.back-content {
  color: black;
  text-align: center;
  width: 100%;
}

.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}


.card-product {
  overflow: hidden;
  height: 160px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 34px;
}

.card-cars {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
}

.home-cars {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 1400px;
  width: 100%;
}

.home-car {
  margin: 156px auto;
  max-width: 1400px;
}
.car-photo img {
  width: 750px;
}
.car-section {
  display: flex;
}
.car-section-text2 {
  margin-left: 80px;
}
.car-section-text2 h2 {
  font-size: 52px;
  font-family: $h-font;
}
.car-section-title {
  margin-bottom: 20px;
}

.cardb img {
  margin-top: 180px;
  margin-bottom: 32px;
}

.cardb p {
  padding-left: 12px;
}

.card-listings {
  margin-top: 56px;
}

#map {
  margin-top: 64px;
}

@media (min-width: 768px) {
.home-cars {
  margin: 50px auto;
  padding: 0 50px;
  }
}