.grid-container {
  margin-top: 56px;
  margin-left: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px;
  grid-gap: 80px;
  
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.main-container h1 {
  font-family: $h-font;
}

.main-container p {
  font-family: $p-font;
}

.main-container img {
  margin-top: 34px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
