.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 80px;
  grid-gap: 40px;
  
}

.main-container {
  display: flex;
  justify-content: space-around;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
