<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8" style="margin-top: 72px">
      <%= simple_form_for [@car, @review] do |f| %>
      <%= f.input :rating, collection: 1..5, error: 'This field is mandatory, please give a rating' %>
      <%= f.input :comment, label: "Comment" %>
      <%= f.submit "Submit your rating", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>